body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #434455;

}

:root {
    color: #4D5AE5;
    color: #404BBF;
    color: #2E2F42;
    color: #31D0AA;
    color: #434455;
    color: #8E8F99;
    color: #E7E9FC;
    color: #F4F4FD;
    color: #2E2F42;
    color: #2E2F42;
    color: #FFFFFF;
    color: #FCFCFC;

}

.header-logo-link {
    color: var(--iris, #4D5AE5);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}




.header-menu-link link {
    color: var(--navyblue, #2E2F42);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.portfolio-list {
    padding-top: 96px;
    padding-bottom: 120px;
}


.list {
    list-style: none;
}


.btn-tittle-tittle {
    color: var(--white, #FFF);
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-bottom: 72px;
    background: var(--ocean, #404BBF)
}


.header-menu-link {
    color: var(--navyblue, #2E2F42);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

}


.header-menu-tittle  {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-menu-tittle:hover {
    color:#404bbf ;
} 
.header-menu-tittle:focus {
    color: #404bbf;
}





.header-menu-link:hover {
    color: #404bbf;
}

.header-menu-link:focus {
    color: #404bbf;
}

.list-list {
    width: 360px;
    height: 420px;
    padding-bottom: 0px;
    flex-shrink: 0;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--white, #FFF);
}

.footer-title-list {
    color: var(--cloud, #F4F4FD);

    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

 






.header-menu-item {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-menu-item:hover {
    color: #404bbf;
}

.header-menu-item:focus {
    color: #404bbf;
}